name: CI
on: [push]
jobs:
  check:
    runs-on: macOS-latest
    if: "!contains(github.event.head_commit.message, 'gha ssh')"
  build:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v2
